<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header inline">
                        <h4 class="card-title">{{ workingGroup.name }}' Action Points
                            <a [routerLink]="['/action-create', workingGroup.id]">
                                <button type="button" class="btn btn-sm btn-success">Create</button>
                            </a>
                        </h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="content">
                    <div class="card-body table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Lead</th>
                                <th>Status</th>
                                <th>Updated</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let actionPoint of actionPoints">
                                    <td>{{ actionPoint.id }}</td>
                                    <td>
                                        <a [routerLink]="['/action-detail', actionPoint.id]">{{ actionPoint.title }}</a>
                                    </td>
                                    <td>{{ actionPoint.leadContributor }}
                                        <div ng-if="!actionPoint.leadContributor"></div>
                                    </td>
                                    <td>{{ actionPoint.currentStatus }}</td>
                                    <td>{{ actionPoint.lastModified }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>